body {
    margin: 0;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 25px;
}

.logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s, font-weight 0.3s, font-size 0.3s;
}

nav ul li a#active {
    font-weight: 600;
}

nav ul li a:hover {
    color: rgb(203, 203, 203);
    font-weight: normal;
    transition: 0.3s;
}

nav ul li a:active {
    color: black;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.right button {
    border-style: none;
    background-color: white;
}

.right button a {
    color: white;
    background-color: black;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    transition: background-color 0.5s, color 0.5s;
}

.right a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}


