body {
    margin: 0;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 25px;
}

.logo {
    width: 60px;
    height: auto;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li a#active {
    font-weight: 600;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.right button {
    padding: 7px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: black;
}

.right a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

nav ul li a:hover {
    color: rgb(139, 135, 135);
    font-weight: normal;
}

nav ul li a:active {
    color: black;
    font-weight: 600;
}